	body {
	margin:50px 0px; padding:0px;
	text-align:center;
	}
	#Content {
	width:320px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;
	}
	a {
	color:black;
	padding-top:5px;
	#display:block;
	}
	a:hover {
	text-decoration:none;
	}
	td {
	font-family:"DejaVu Sans",Arial,Helvetica,sans-serif;
	font-size:12px;
	vertical-align:top;
	padding-left:2px;
	padding-right:2px;
	background:#FFFFFF;
	}
	p {
	font-family:"DejaVu Sans", Arial, Helvetica, sans-serif;
	font-size:12px;
	}
	h1 {
	font-family:"DejaVu Sans", Arial, Helvetica, sans-serif;
	font-size:20px;
	text-align:center;
	}
	td.center {
	text-align:center;
	}
	td.head {
	font-weight:bold;
	padding-top:3px;
	padding-bottom:3px;
	}
	td.right {
	text-align:right;
	padding-right:6px;
	}
	table {
	width: 320px; border-spacing:0;
	border-collapse:collapse;
	}
	html,body,.darkbackground {
	background:#CCCCCC;
	}
	body {
	color:#000000;
	}
	td.column1 {
	width:60px;
	}
	td.column3 {
	width:120px;
	}
	td.column4 {
	width:30px;
	}
	div#bar1, div#bar2, div#bar3, div#bar4, div#bar5, div#bar6 {
		height:12px;
		width:0px;
		transition:width 2s;
	}
	div#bar1 { background-color:#D98787; }
	div#bar2 { background-color:#AFDF87; }
	div#bar3 { background-color:#F7F7AF; }
	div#bar4 { background-color:#87AFD7; }
	div#bar5 { background-color:#D7AFD7; }
	div#bar6 { background-color:#AFD7D7; }
